@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');




body {
  font-family: 'Libre Baskerville', serif;
  background-color: #e2fcea;
  color: black;
  letter-spacing: .07em;
}

.landing-top {
  
  height: 100vh;
  width: 100%;
}

.landing-background {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-image: url("../../background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-header-container {
  height: 100%;
}

.landing-contact-container, .landing-contact-container a {
  
  height: 100%;
  color: #e2fcead2;
  transition-duration: .5s;
}

a {
  color: black;
}

a:hover {
  color: rgb(255, 91, 255);
}

.name {
  font-size: 3.5rem;
  font-weight: 575;
}

.heading {
  
  font-size: 1.3rem;
  width: 90%;
  line-height: 1.5;
}

.about-page-row {
  height: 20vh;
  width: 100%;
}

.about-body {
  height: 100%;
  width: 100%;
  z-index: 1;
  /* background-color: #171915; */
  background-image: url("../../aboutsection.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-page-row {
  height: 100vh;
  position: relative;
  
}

.about-page-row {
  color: #e2fceaaf;
  letter-spacing: .07em;
  line-height: 2;
}



.landing-bot-container {
  height: 100vh;
  position: relative;
  background-color: white;
  background-image: url("../../backtree.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .name {
    font-size: 2.4em;
  }

  .heading {
    font-size: 1.0em;
  }
}