@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #e2fcea;
  color: black;
}

.landing-top {
  
  height: 100vh;
  width: 100%;
}

.landing-background {
  height: 100vh;
  width: 100vw;
  background-image: url("../../background.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.landing-header-container {
  height: 100%;
}

.landing-contact-container, .landing-contact-container a {
  letter-spacing: .07em;
  height: 100%;
  color: #e2fcead2;
  transition-duration: .5s;
}

.landing-contact-container a:hover {
  color: rgb(194, 198, 248);
  
}

.name {
  font-size: 3.5rem;
  letter-spacing: .07em;
}

.heading {
  letter-spacing: .07em;
  font-size: 1.3rem;
  width: 90%;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5;
}

.about-page-row, .featured-page-row {
  height: 50vh;
}

.about-page-row {
  color: #e2fceaaf;
  letter-spacing: .07em;
  line-height: 2;
}



.landing-bot-container {
  background-image: url("../../skyline.png");
}
